# General Configuration
com.denodo.vdb.proof.environment=false

# Solution Manager Configuration
com.denodo.solutionmanager.host={{ DENODO_HOSTNAME | default('localhost') }}
com.denodo.solutionmanager.port=10090

# SSL
com.denodo.solutionmanager.security.ssl.enabled={{ DENODO_SSL_ENABLED | default('false') }}
com.denodo.vdb.install=/opt/denodo
