com.denodo.webpanel.service.util.restUtils.requestTimeout=20

com.denodo.vdb.security.KerberosAuthenticator.principal=
com.denodo.vdb.security.KerberosAuthenticator.useKerberos=false
com.denodo.vdb.security.KerberosAuthenticator.keyTab=
com.denodo.vdb.security.KerberosAuthenticator.kerberosConfigFile=
com.denodo.vdb.security.KerberosAuthenticator.debug=

VDPDataSource/host=localhost
VDPDataSource/port=19999
#VDPDataSource/database=admin