###############################################################################
#  LICENSE MANAGER SERVER CONFIGURATION                                       #
###############################################################################
server.port=10091

# Storage Manager Factory
com.denodo.solutionmanager.storage.StorageManagerFactory.className=com.denodo.solutionmanager.storage.DerbyStorageManager
com.denodo.solutionmanager.storage.StorageManagerFactory.provider=embedded_derby

# Derby Storage Manager 
com.denodo.solutionmanager.storage.DerbyStorageManager.derbyHome=/opt/denodo/metadata/solution-manager/db
com.denodo.solutionmanager.storage.DerbyStorageManager.derbyHost=localhost
com.denodo.solutionmanager.storage.DerbyStorageManager.derbyPort=11526

spring.data.rest.defaultMediaType=application/json
spring.hateoas.use-hal-as-default-json-media-type=false
spring.jpa.hibernate.ddl-auto=none

java.env.DENODO_OPTS_START=-mx1024m
com.denodo.licensemanager.rmi.host=localhost

com.denodo.solutionmanager.utils.LicenseManager.iconRoute=/opt/denodo/resources/license-manager/ico
com.denodo.vdb.install=/opt/denodo/

# Timezone
com.denodo.solutionmanager.timezone=UTC

# Grace period (in minutes)
com.denodo.licensemanager.gracePeriod=7200
# License ACK timeout (in milliseconds)
com.denodo.licensemanager.licenseACKTimeout=2000
# Server Refresh Interval (in minutes)
com.denodo.licensemanager.refreshInterval=10
#server.ssl.key-store=
#server.ssl.key-store-password=
#com.denodo.security.ssl.trustStore=
#com.denodo.security.ssl.trustStorePassword=
#server.ssl.key-store-password.encrypted=
#com.denodo.security.ssl.trustStorePassword.encrypted=