###############################################################################
#  SOLUTION MANAGER WEB TOOL CONFIGURATION                                      #
###############################################################################
# General Configuration
com.denodo.vdb.install=/opt/denodo

# Solution Manager Configuration
com.denodo.solutionmanager.host=localhost
com.denodo.solutionmanager.port=10090


# SSL
com.denodo.solutionmanager.security.ssl.enabled={{ DENODO_SSL_ENABLED | default('false') }}

#Revisions timeout property for creation and update
com.denodo.solutionmanager.revisions.timeoutInMilliseconds=1800000


###############################################################################
#  SSO CONFIGURATION                                                          #
###############################################################################
sso.confFile=/opt/denodo/conf/SSOConfiguration.properties

