###############################################################################
#  SOLUTION MANAGER SERVER CONFIGURATION                                      #
###############################################################################
server.port=10090

# HTTPS
# server.ssl.key-store=
# server.ssl.key-store-password=
# com.denodo.security.ssl.trustStore=
# com.denodo.security.ssl.trustStorePassword=

# Spring configuration
spring.hateoas.use-hal-as-default-json-media-type=false
spring.data.rest.defaultMediaType=application/json

# Timezone
com.denodo.solutionmanager.timezone=UTC
# Block size in batch inserts
com.denodo.solutionmanager.jpaFlushSize=50
com.denodo.solutionmanager.userAgent=Denodo-Solution-Manager

# JVM options
java.env.DENODO_OPTS_START=-mx1024m
com.denodo.solutionmanager.rmi.host=localhost

com.denodo.solutionmanager.utils.LicenseManager.iconRoute=/opt/denodo/resources/solution-manager/ico
com.denodo.vdb.install=/opt/denodo


###############################################################################
#  CONNECTION PARAMETERS                                                      #
###############################################################################
# RMI Connection Parameters
rmi.queryTimeout=90000
rmi.chunkTimeout=90000
rmi.chunkSize=100

rmi.maxActive=4
rmi.minIdle=0
rmi.maxIdle=-1
rmi.maxWait=30000
rmi.whenExhaustedAction=1
rmi.testOnBorrow=true
rmi.testOnReturn=false
rmi.testWhileIdle=false
rmi.timeBetweenEviction=-1
rmi.numTestsPerEviction=3
rmi.minEvictableIdleTime=1800000
rmi.softMinEvictableIdleTime=-1
rmi.lifo=true

# JDBC Connection Parameters
jdbc.local.queryTimeout=900000
jdbc.local.chunkTimeout=900000
jdbc.local.maxActive=30

jdbc.remote.queryTimeout=90000
jdbc.remote.chunkTimeout=90000
jdbc.remote.maxActive=4

jdbc.chunkSize=100
jdbc.validationQuery=SELECT 1
jdbc.minIdle=0
jdbc.maxIdle=-1
jdbc.maxWait=30000
jdbc.whenExhaustedAction=1
jdbc.testOnBorrow=true
jdbc.testOnReturn=false
jdbc.testWhileIdle=false
jdbc.timeBetweenEviction=-1
jdbc.numTestsPerEviction=3
jdbc.minEvictableIdleTime=1800000
jdbc.kerberosTokenTimeout=30000


###############################################################################
#  VIRTUAL DATA PORT CONFIGURATION                                            #
###############################################################################
# VDP Configuration File
com.denodo.solutionmanager.vdp.confFile=/opt/denodo/conf/vdp/VDBConfiguration.properties
# VDP authentication database
com.denodo.solutionmanager.vdp.database=admin
com.denodo.solutionmanager.vdp.hostname=localhost


###############################################################################
#  SCHEDULER CONFIGURATION                                                    #
###############################################################################
# Waiting time until scheduler finish required actions, in miliseconds
com.denodo.solutionmanager.scheduler.waitingTime=10000
com.denodo.solutionmanager.scheduler.maxTryWaiting=10


###############################################################################
#  VERSION CONTROL SYSTEM CONFIGURATION                                       #
###############################################################################
# VCS options
com.denodo.solutionmanager.vcs.user=
com.denodo.solutionmanager.vcs.system=
com.denodo.solutionmanager.vcs.url=
com.denodo.solutionmanager.vcs.useDefaultBranch=true
com.denodo.solutionmanager.vcs.branch=default
com.denodo.solutionmanager.vcs.password=
com.denodo.solutionmanager.vcs.useUserAndPassword=true
com.denodo.solutionmanager.vcs.encryptedPassword=true
com.denodo.solutionmanager.vcs.localRepositoriesHome=/opt/denodo/work/solution-manager/repository
com.denodo.solutionmanager.vcs.tempSVNRepository=tempSolutionManagerSvnRepo
com.denodo.solutionmanager.vcs.maxTryWaiting=5
com.denodo.solutionmanager.vcs.waitingTime=10000


###############################################################################
#  DEPLOYMENTS CONFIGURATION                                                  #
###############################################################################
# Number of retries for vql execution in delete revisions deployments
com.denodo.solutionmanager.deployments.deleteRetries=50
# Directory for scripts execution
com.denodo.solutionmanagerserver.deployments.workDir=/opt/denodo/work/solution-manager
# Timeout in seconds of the script to execute
com.denodo.solutionmanager.scripts.timeoutInSeconds=600


###############################################################################
#  MONITORING CONFIGURATION                                                  #
###############################################################################
# Directory for monitoring
com.denodo.solutionmanagerserver.monitoring.resourcesDir=/opt/denodo/resources/solution-manager-monitor
com.denodo.solutionmanagerserver.monitoring.workDir=/opt/denodo/resources/solution-manager-monitor/work
com.denodo.solutionmanagerserver.monitoring.stopRunningMonitorsOnShutdown=true
com.denodo.solutionmanagerserver.monitoring.checkRunningMonitorsOnStartup.timeoutInSecs=60
#server.ssl.key-store-password.encrypted=
#com.denodo.security.ssl.trustStorePassword.encrypted=